{% extends 'base.html.twig' %}

{% block body %}
    <div class="block">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    Your application is now ready. You can start working on it at:
                    <code>{{ base_dir }}</code>
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>
                <p>
                    <a href="{{ path('get_customers') }}">{{ 'customer.list.headline'|trans({},'AppBundle') }}</a></br>
                    <a href="{{ path('nelmio_api_doc_index') }}">API doc</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

