{% extends "AppBundle::layout.html.twig" %}

{% block title "List of customers" %}

{% block content %}
    <h1 class="title">{{ 'customer.list.headline'|trans({}, 'AppBundle') }}</h1>

    <p>
        {{ 'customer.list.limit'|trans({}, 'AppBundle') }}: {{ limit }}
    </p>

    <ul id="note-list">
        {% for customer in customers%}
            <li>
                <a href="{{ path('get_customer', {'id': customer.id}) }}">{{ customer.name }}</a>
                [<a href="{{ path('edit_customer', {'id': customer.id}) }}">{{ 'customer.edit.link'|trans({}, 'AppBundle') }}</a>]
                [<a href="{{ path('remove_customer', {'id': customer.id}) }}">{{ 'customer.remove.link'|trans({}, 'AppBundle') }}</a>]
            </li>
        {% else %}
            <li>{{ 'customer.list.empty'|trans({}, 'AppBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_customer') }}">{{ 'customer.new.link'|trans({}, 'AppBundle') }}</a>
    </p>
{% endblock %}
