{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1 class="title">Person #{{ customer.id }}</h1>

    <p>
        {{ customer.name }}
        {{ customer.address }}
    </p>
    <p>
        <a href="{{ path('get_customers') }}">{{ 'customer.list.link'|trans({}, 'AppBundle') }}</a> <br>
        [<a href="{{ path('remove_customer', {'id': customer.id}) }}">{{ 'customer.remove.link'|trans({}, 'AppBundle') }}</a>]
        [<a href="{{ path('edit_customer', {'id': customer.id}) }}">{{ 'customer.edit.link'|trans({}, 'AppBundle') }}</a>]
    </p>
{% endblock %}

